{% if list_obj %}
<div class="listname">list name: {{ list_obj.list_name }} list type: {{ list_obj.list_model }} list id: {{ list_obj.id }} sublevel: {{ sublevel }} sublevel_limit: {{ sublevel_limit }}</div>
{% endif %}