<div class="container-fluid border border-primary">

{% for list_obj in userlists %}
{% if view == "hierarchy" %}
    {% include 'lists/hierarchy.html.jinja' %}
{% else %}
    <h2>list name: {{ list_obj.list_name }} list type: {{ list_obj.list_type }} list id: {{ list_obj.id }}</h2>
        <div
            id="list-updater-{{ list_obj.id }}"
            {% if list_obj.list_type == "Task" or view == "quicknote" or list_obj.list_type == "Floor" %}
                class="row g-0 row-cols-1 bg-dark border border-primary border-5
                rounded-4 p-1 sortable" style="min-width: 20em; max-width: 40em;
                display: block; margin-left: auto; margin-right: auto;"
            {% elif list_obj.list_type == "Room" %}
                class="row g-0 row-cols-4 container-fluid bg-dark border
                border-primary border-5 rounded-4 p-1 sortable"
            {% elif list_obj.list_type == "RoomDefault" %}
                class="row container-fluid bg-dark border border-primary border-5
                rounded-4 p-1 typeslist"
            {% else %}
                class="row g-0 container-fluid bg-dark border border-primary
                border-5 rounded-4 p-1"
            {% endif %}
            hx-put="/update_list_order/{{ list_obj.id }}"
            hx-include="[name='items']"
            hx-trigger="end delay:1s, remove delay:1s, add delay:1s"
            hx-indicator="#updating-indicator"
            data-model="{{ list_obj.list_type }}"
            data-list_id="{{ list_obj.id }}"
        >
            {% if reversed %}
                {% for entry in list_obj.entries | sort(attribute='order')| reverse %}
                    {% include 'lists/model/' + entry.item_model.lower() + '.html.jinja' %}
                {% endfor %}
            {% else %}
                {% for entry in list_obj.entries | sort(attribute='order') %}
                    {% include 'lists/model/' + entry.item_model.lower() + '.html.jinja' %}
                {% endfor %}
            {% endif %}

            {% if not list_obj %}
                {% if view == "quicknote" %}
                    {% include 'lists/model/task_placeholder.html.jinja' %}
                {% else %}
                    <h1>Failed to load list</h1>
                {% endif %}
            {% endif %}
        </div>
{% endif %}
{% endfor %}
</div>
