{# <div class="border border-primary"> #}
    <!--     <div class="accordion border border-warning border-5" id="list-accordion-">
        <div class="accordion-item border border-danger">

        <h2 class="accordion-header">
<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="" aria-expanded="true" aria-controls="multiCollapseExample1 multiCollapseExample2">hide/show</button>
        </h2> 
        
            <div class="accordion-collapse collapse show">
                <div class="accordion-body"> -->
    {% for list_obj in userlists %}
    {% if list_obj.entries | length < 1 %}
    {% if list_obj.list_type == "Room" %}
            <h1>Please add rooms to this floor</h1>
            {% endif %}
{% endif %}
        {% include 'base/parts/debug/listname.html.jinja' %}
        {% if sublevel == 0 and sublevel_limit > 0 %}
        <div class="container bg-body text-body p-0 rounded">
            <div class="d-flex">
                <div
                    class="accordion"
                    id="accordion-button-{{ list_obj.list_type }}list-{{ list_obj.id }}"
                >
                    <button
                        class="accordion-button p-2 rounded"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#toplist-collapse-{{ list_obj.list_type }}list-{{ list_obj.id }}"
                        aria-expanded="true"
                    >
                        {% include 'base/parts/debug/listname.html.jinja' %}
                    </button>
                </div>

                <a href="/room/{{ list_obj.id }}" class="accordion-header text-center flex-grow-1">
                    
                    {{ list_obj.list_name }}
                    {% include 'base/parts/debug/order.html.jinja' %}
                </a>
            </div>

            <div
                class="accordion"
                id="toplist-accordion-{{ list_obj.list_type }}list-{{ list_obj.id }}"
            >

                <div class="accordion-item">
                    <div
                        class="accordion-collapse collapse show"
                        id="toplist-collapse-{{ list_obj.list_type }}list-{{ list_obj.id }}"
                    >
        {% endif %}

        <ul
            id="list-updater-{{ list_obj.id }}"
            {% if view == "text-hierarchy" %}
                class="list-group list-group-numbered sortable"
            {% else %}
                {% if list_obj.list_type == "RoomDefault" %}
                    class="list-group list-group-horizontal d-flex flex-wrap border border-primary border-5
                    rounded-4 p-1 typeslist"
                {% elif list_obj.list_type == "Room" %}
                    class="list-group container-fluid border
                    border-primary border-5 rounded-4 p-1 sortable"
                {% elif list_obj.list_type == "Photo" %}
                    class="row row-cols-4 g-0 sortable"
                {% else %}
                    class="list-group row g-0 row-cols-1 border border-primary border-5
                    rounded-4 sortable"
                {% endif %}
            {% endif %}
            hx-put="/update_list_order/{{ list_obj.id }}"
            hx-include="[name='items']"
            hx-trigger="end delay:1s, remove delay:1s, add delay:1s"
            hx-indicator="#updating-indicator"
            data-model="{{ list_obj.list_type }}"
            data-is-list="true"
            data-list_id="{{ list_obj.id }}"
            data-parent_entry_id="{{ list_obj.parent_entry_id }}"
        >


            {% if view == "text-hierarchy" %}
                {% include 'lists/generic_hierarchy.html.jinja' %}
            {% else %}
                {% if reversed %}
                    {% for entry in list_obj.entries | sort(attribute='order')| reverse %}
                        {% include 'lists/model/' + entry.item_model.lower() + '.html.jinja' %}
                    {% endfor %}
                {% else %}
                    {% for entry in list_obj.entries | sort(attribute='order') %}
                        {% include 'lists/model/' + entry.item_model.lower() + '.html.jinja' %}
                    {% endfor %}
                {% endif %}

                {% if not list_obj %}
                    {% if view == "quicknote" %}
                        {% include 'lists/model/task_placeholder.html.jinja' %}
                    {% else %}
                        <h1>Failed to load list</h1>
                    {% endif %}
                {% endif %}
            {% endif %}
        </ul>
    {% if sublevel == 0 and sublevel_limit > 0 %}
                    </div>
                </div>
            </div>
</div>
    {% endif %}
    {% endfor %}
