{% if sublevel is not defined or sublevel is None %}
{% set sublevel = 0 %}
{% set sublevel_limit = 1 %}
{% endif %}
sublevel: {{ sublevel }}
{% if sublevel < sublevel_limit %}
{% set sublevel = sublevel + 1 %}
    <div class="sortable dropzone"
    id="sublist-loader-{{ entry.id }}"
    hx-get="/show_list/"
    hx-trigger="load once from:body"
    hx-vals='{"parent_entry_id": "{{ entry.id }}", "sublevel": "{{ sublevel }}", "sublevel_limit": {{ sublevel_limit }}, "view_override":"{{ view_override }}"}'
    data-id="{{ entry.id }}"
    data-name="{{ entry.get_item().name }}"
    data-order="{{ entry.order }}"
    
    data-model="{{ entry.item_model }}"
    
    >
    {# sublists go here if found #}
        {#<div class="dz-label"
        id="sublist-dropzone-{{ entry.id }}"
        
        
        >
        DROP HERE {{ entry.id }}
        </div>#}
    </div>
{% endif %}