{% extends "base/layout.html" %}
{% block title %}
    House Map
{% endblock %}

{% block main %}
    {% if walk_setup == True %}
        <h3>Choose a room to start the walkthrough (walkthrough setup=True)</h3>
    {% endif %}
    <ul class="nav nav-tabs">
        {% for navfloor in floor_list | sort(attribute='order') | reverse %}
            <li class="nav-item">
                <a
                    class="nav-link {% if navfloor.item_id == current_user.active_home.active_floor_id %}active{% endif %}"
                    href="/map/{{ navfloor.item_id }}"
                >
                    {{ navfloor.get_item().name }}</a
                >
            </li>
        {% endfor %}
    </ul>
    <form method="POST" hx-boost="false" action="/walkthrough/start" id="walkthrough-form">
        <div
            id="room-list"
            class="row g-0 row-cols-4 container-fluid bg-dark border border-success border-5 rounded-bottom-4 p-1"
        >
            <div
                class="row g-0 row-cols-4 container-fluid bg-dark border border-success border-5 rounded-bottom-4 p-1"
                id="room-list-container"
                hx-get="/show_list/"
                hx-vals='{"list_type": "Room"}'
                hx-trigger="load once"
                hx-swap="outerHTML"
                hx-indicator="#updating-indicator"
            >
                <input id="dummy-placeholder" type="hidden" name="items" />
                <div id="updating-indicator" class="htmx-indicator">
                    Updating...
                </div>
            </div>
        </div>

        {% if walk_setup == True %}
            <button type="submit" class="btn btn-success">
                Start Walkthrough
            </button>
        {% else %}
            <a class="btn btn-success" href="/walkthrough/setup">
                Setup Walkthrough
            </a>
        {% endif %}
    </form>
{% endblock %}
