{% extends "base/layout.html" %}
{% block title %}
    House Map
{% endblock %}

{% block main %}

<h1>
    Stuff here
    this is the map
    this is map/index.html.jinja
    [ ] link to start walkthrough
</h1>
{% endblock %}
