<h4 class="text-primary">Welcome, {{current_user.username}}!

<p>
    Let's set up your profile.
</p>
<p>
    Upload a profile pic
</p></h4>
{% include 'profile/upload_form.html.jinja' %}

<p>Or choose an icon for yourself:</p>

{% include 'profile/choose_icon_form.html.jinja' %}