{% for task in tasks %}
<tr id="task-row" 
{% if loop.last %} 
hx-get="/get_tasks/?page={{ page + 1 }}" hx-trigger="revealed" 
hx-swap="afterend" hx-target="this" 
{% endif %}>
<div id="task-cells">
{% include 'task_cells.html' %}
</div>
{% endfor %}
<script>
    function toggleConfirm(checked) {
        const buttons = document.querySelectorAll('.delete-button');
        buttons.forEach(button => {
            if (checked) {
                button.setAttribute('hx-confirm', 'Are you sure you want to delete this task?');
            } else {
                button.removeAttribute('hx-confirm');
            }
        });
    }
    </script>