
<table hx-indicator="#ind" class="table table-striped table-dark">
<thead>
        <tr>
            <th>Task ID</th>
            <th>Task Title</th>
            <th>Task Description</th>
            <th>Task Created At</th>
            <th>Task Due Time</th>
            <th>Task Priority</th>
            <th>Task Status</th>
            <th>Task Tags</th>
            <th>Task Scheduled Time</th>
            <th>Updated_at</th>
            <th>Completed At</th>
            <th>Edit</th>
            <th>Delete<br>
<div class="form-switch bg-danger">
                    <input checked type="checkbox" id="toggle-buttons" onchange="toggleConfirm(this.checked)">
                    <label for="toggle-buttons">Confirm Delete</label>
</div>
            </th>
        </tr>
</thead>
<tbody id="task-body" hx-get="/get_tasks/?page=1" hx-trigger="load">#todo: reload when new task added
    <!-- Rows will be populated here -->
</tbody>
</table>
<div class="htmx-indicator spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>