
                    <button
                        hx-post="/home/name"
                        hx-target="#home-name"
                        
                        class="btn btn-primary"
                    >
                        Create New House
                    </button>

