            <div class="form-floating mb-3">
                <input
                    autocomplete="off"
                    autofocus
                    class="form-control"
                    id="home_name"
                    name="home_name"
                    placeholder="New Home Name"
                />
                <label for="home_name">New Home Name</label>
            </div>
            <h1>#FIXME: MAKE FORM AUTO-SUBMIT HTMX!</h1>