{% extends "base/layout.html" %}
{% block title %}
    Onboarding
{% endblock %}

{% block main %}

<div
    id="onboarding"
    hx-get="/onboarding"
    hx-trigger="load">
    <div class="htmx-indicator spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

{% endblock %}
