{% extends "base/layout.html" %}
{% block title %}
    Onboarding
{% endblock %}

{% block main %}
<h1>this is onboarding/index.html.jinja</h1>
<div
    id="onboarding"
    hx-get="/onboarding"
    hx-trigger="load">
    <div class="htmx-indicator spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<button hx-get="/onboarding" hx-target="#onboarding" class="btn btn-primary">Onboarding Next Step</button>
{% endblock %}
