<p>
     INSTRUCTIONS: Please take a panorama picture of the
    room. Stand in the center of the room and take either 1 wide angle picture
    from a corner or 2 pictures from the middle of the room.
</p>
<form hx-post="/upload/Photo" enctype="multipart/form-data" hx-trigger="change" hx-target="#test-photo-list-loader"
        hx-swap="beforebegin" hx-on::after-request="this.reset()">
    <label for="room-photo-take" class="btn btn-primary btn-lg">
    📷 Take Photo
    <input hidden
        id="room-photo-take"
        type="file"
        accept="image/*"
        capture="environment"
        name="room_photos" 
        multiple
    />
    </label>

    <label for="room-photo-choose"  class="btn btn-primary btn-lg">📂 Choose Photos
    <input hidden
        id="room-photo-choose"
        type="file"
        accept="image/*"
        name="room_photos"
        multiple
        
    /></label>
</form>



<p>------------------------------------------------------------------------------------</p>
<p>temporary for testing: show photos here:</p>

<div id="test-photo-list-loader"
    hx-get="/show_list/"
    hx-vals='{"list_type": "Photo", "reversed": "True"}'
    hx-trigger="load once"
>

