<div
id="photo-loader"
hx-get="/show_photo_entry/{{ current_user.active_home.active_room.current_cover_photo_id }}"
hx-vals='{"view_override":"pingrid"}'
hx-trigger="load once"
hx-swap="outerHTML"
hx-indicator="#updating-indicator"
>
</div>

{% include 'walkthrough/parts/create_tasks.html.jinja' %}

<p>------------------------------------------------------------------------------</p>            
#BUG: layout room template
Current active room: {{ current_user.active_home.active_room.name }}