<p> 
    Please quickly add task drafts for this room. You can add things that need
    to be cleaned or organized or maintained or upgraded.
</p>
<div class="container-fluid">
    <div class="row justify-content-center">


    </div>
            <div
                class="row g-0 row-cols-4 container-fluid bg-dark border border-success border-5 rounded-bottom-4 p-1"
                id="task-list-loader"
                hx-get="/show_list/"
                hx-vals='{"list_type": "Task", "view_override":"quicknote", "sublevel_limit": 3}'
                hx-trigger="load once"
                hx-swap="outerHTML"
                hx-indicator="#updating-indicator"
            >
                <input id="dummy-placeholder" type="hidden" name="items" />
                
            </div>

</div>

</div>
            <div
                class="row g-0 row-cols-4 container-fluid bg-dark border border-success border-5 rounded-bottom-4 p-1"
                id="task-list-loader"
                hx-get="/show_list/"
                hx-vals='{"list_type": "Photo", "view_override":"photo"}'
                hx-trigger="load once"
                hx-swap="outerHTML"
                hx-indicator="#updating-indicator"
            >
                <input id="dummy-placeholder" type="hidden" name="items" />
                
            </div>

</div>

#todo: make list item text bigger on ios
#[ ] : decide on how the empty list should look on first load
{#
<p>----------------------------------------------------------------------------------</p>
hx-get="/show_list/"
                hx-vals='{"list_type": "Task"}' hx-indicator="#updating-indicator"

5. : take and upload task photos
<p>
    Take pictures of areas in the room that contain tasks you need to do. This
    will help you to remember what needs to be done and make it easier to create
    tasks later.
</p>
<form
    hx-post="/home/room/photo/upload/{{ current_user.active_home.active_room.room_id }}"
    hx-trigger="change"
    hx-swap="outerHTML"
    hx-target="#room-{{ current_user.active_home.active_room.room_id }}"
    class="mt-3"
>
    <input type="file" name="photo" accept="image/*" />
    <button class="btn btn-primary" type="submit">Upload</button>
</form>#}


