        <div id="flash-messages-container" class="flash-container">
            <div id="flash-messages"
                hx-get="/get-flash-messages"
                hx-trigger="flashUpdate from:body, load"
                hx-swap="beforeend">
                    {% include 'base/flash_messages.html.jinja' %}
            </div>
        </div>