<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="color-scheme" content="dark light" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/static/style.css" />
        <title>Untitled Cleaning App: {% block title %}{% endblock %}</title>
        <script
            src="https://unpkg.com/htmx.org@2.0.3"
            integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
            crossorigin="anonymous"
        ></script>
        {#<script>
            //htmx.config.indicatorClass = "updating-indicator"; # [ ] need to fix and style
        </script>#}
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
        <!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    </head>
    <body hx-boost="true">
        <div class="container-fluid">
            {% include 'base/parts/nav_top.html.jinja' %}
            {#{% include 'base/parts/flash_container.html.jinja' %}#}

            <div class="row">
                <div class="col-md-12">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <script>
            // Flash messages
            //document.addEventListener("DOMContentLoaded", (event) => {
            //    setTimeout(() => {
            //        document
            //            .querySelectorAll(".flash-message")
            //            .forEach((message) => {
            //                message.style.display = ".fade-out";
            //            });
            //    }, 5000); // 5 seconds delay
            //});
        </script>
        <script>
            // Initialize tooltips and sortable
            document.addEventListener("DOMContentLoaded", function () {
                initializeTooltips();
                initializeSortable();
                console.log("DOMContentLoaded triggered");
            });

            function initializeTooltips() {
                const tooltipTriggerList = [].slice.call(
                    document.querySelectorAll('[data-bs-toggle="tooltip"]'),
                );
                tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl);
                });
            }
            
            function initializeSortable() {
                //() => {
                    // fix for error Uncaught SyntaxError: redeclaration of const typeslist
                    console.log("htmx.onLoad triggered");
                    const sortableElements = document.querySelectorAll(".sortable");

                    const typeslist = document.querySelector(".typeslist");
                    if (typeslist !== null) {
                    new Sortable(typeslist, {
                        group: {
                            name: "typeslist",
                            pull: "clone",
                            put: false, // Do not allow items to be put into this list
                        },
                        animation: 150,
                        sort: false,
                        cursor: "move",
                    });
                }

                    sortableElements.forEach(function (sortableElement) {
                        console.log("sortableElement: " + sortableElement);
                        if (sortableElement !== null) {
                        const sortlist = new Sortable(sortableElement, {
                        //const sortlist = Sortable.create(sortableElement, {
                            //const roomlist = document.getElementById("");
                            //const roomsort = new Sortable(roomlist, {
                            group: {

                                name: "sortableElement",
                                pull: true,
                                put: true,
                            },

                            animation: 150,
                            swapThreshold: 0.5,
                            filter: ".htmx-indicator, .rename",
                            ghostClass: "ghost",
                            dragClass: "ghost-red",
                            chosenClass: "ghost-red",
                            removeOnSpill: true,
                            onMove: function (evt) {
                                console.log("Moving:", evt.related); // Log the element being moved
                                return (
                                    evt.related.className.indexOf(
                                        "htmx-indicator",
                                    ) === -1
                                );
                            },
                            onSpill: function (/**Event*/ evt) {
                                evt.item; // The spilled item
                                showDragOutsideIndicator(
                                    evt.clientX,
                                    evt.clientY,
                                );
                                console.log("spill");
                                console.log(
                                    "delete evt.item.dataset.id: " +
                                        evt.item.dataset.id,
                                );
                                htmx.ajax(
                                    "DELETE",
                                    "/delete/entry/" + evt.item.dataset.id,
                                );
                                hideDragOutsideIndicator();
                            },
                            onAdd: function (/**Event*/ evt) {
                                console.log("onAdd event triggered");
                                const itemEl = evt.item; // dragged HTMLElement
                                const addedNewEntry = itemEl.dataset.name;
                                const newIndex = evt.newIndex;
                                const model = sortableElement.dataset.model;
                                const list_id = sortableElement.dataset.list_id;
                                console.log(
                                    "addedNewEntry: " +
                                        addedNewEntry +
                                        "new index: " +
                                        newIndex,
                                );

                                // Make an htmx AJAX request to the server to create a new room
                                htmx.ajax( 
                                    "POST",
                                    "/create/" + model + "/" + list_id,
                                    {
                                        values: {
                                            name: addedNewEntry,
                                            order_index: newIndex,
                                        },
                                        target: itemEl,
                                        swap: "outerHTML", // returns the new content
                                    },
                                );
                            },
                            //Disable sorting on the `end` event
                            onEnd: function (evt) {
                                console.log("onEnd event triggered");
                                this.option("disabled", true);
                            },
                        });

                        // Re-enable sorting on the `htmx:afterSwap` event
                        sortableElement.addEventListener(
                            "htmx:afterOnLoad",
                            function () {
                                console.log("htmx:afterOnLoad event triggered");
                                console.log(
                                    "sortableElement:",
                                    sortableElement,
                                );
                                sortlist.option("disabled", false);
                                // check for focus events to let the user type
                                document
                                    .querySelectorAll("input")
                                    .forEach((element) => {
                                        element.addEventListener(
                                            "focus",
                                            function () {
                                                console.log("focus");
                                                sortlist.option(
                                                    "disabled",
                                                    true,
                                                );
                                            },
                                        );
                                        element.addEventListener(
                                            "blur",
                                            function () {
                                                console.log("blur");
                                                sortlist.option(
                                                    "disabled",
                                                    false,
                                                );
                                            },
                                        );
                                    });
                            },
                        );

                        // Function to show the indicator
                        function showDragOutsideIndicator(x, y) {
                            const indicator = document.getElementById(
                                "drag-outside-indicator",
                            );
                            if (indicator !== null) {
                                console.log("showDragOutsideIndicator", x, y);
                                indicator.style.left = `${x}px`;
                                indicator.style.top = `${y}px`;
                                indicator.style.display = "block";
                            }
                        }

                        // Function to hide the indicator
                        function hideDragOutsideIndicator() {
                            const indicator = document.getElementById(
                                "drag-outside-indicator",
                            );
                            if (indicator !== null) {
                            indicator.style.display = "none";
                            }
                        }

                        // Add event listeners to track dragging outside the area

                        sortableElements.forEach(function (area) {
                            area.addEventListener("dragover", function (e) {
                                const rect = area.getBoundingClientRect();

                                //console.log("dragover" + rect);
                                if (
                                    e.clientX < rect.left ||
                                    e.clientX > rect.right ||
                                    e.clientY < rect.top ||
                                    e.clientY > rect.bottom
                                ) {
                                    showDragOutsideIndicator(
                                        e.clientX,
                                        e.clientY,
                                    );
                                } else {
                                    hideDragOutsideIndicator();
                                }
                            });
                        });

                        document.addEventListener("drop", function () {
                            hideDragOutsideIndicator();
                        });
                    

                    document.querySelectorAll("input").forEach((element) => {
                        element.addEventListener("focus", function () {
                            console.log("focus");
                            sortlist.option("disabled", true);
                        });
                        element.addEventListener("blur", function () {
                            console.log("blur");
                            sortlist.option("disabled", false);
                        });
                    });
                }
            });
        };
            //};

            // Re-initialize tooltips and sortable after content update
            document.addEventListener("htmx:afterSwap", function () {
                initializeTooltips();
                initializeSortable();
            });

            // Define the function to clear all tooltips
            function clearTooltips() {
                const tooltipTriggerList = [].slice.call(
                    document.querySelectorAll('[data-bs-toggle="tooltip"]'),
                );
                tooltipTriggerList.map(function (tooltipTriggerEl) {
                    const tooltip =
                        bootstrap.Tooltip.getInstance(tooltipTriggerEl);
                    if (tooltip) {
                        tooltip.dispose();
                    }
                });
                document
                    .querySelectorAll('div[role="tooltip"]')
                    .forEach(function (tooltipDiv) {
                        tooltipDiv.remove();
                    });
            }

            // Add event listeners to elements that should trigger the tooltip clearing
            document
                .querySelectorAll("input, select, textarea, span, div, body")
                .forEach((element) => {
                    element.addEventListener("click", function () {
                        clearTooltips();
                        initializeTooltips();
                    });
                    element.addEventListener("drag", function () {
                        clearTooltips();
                        //initializeTooltips();
                    });
                    element.addEventListener("drop", function () {
                        //clearTooltips();
                        initializeTooltips();
                    });
                
                });
        </script>
        <div id="updating-indicator" class="htmx-indicator">Updating...</div>
        <footer>{% include 'base/parts/nav_bottom.html.jinja' %}</footer>
    </body>
</html>
