{% if current_user.debug %}
<div class="debug-info">
{% if info == name %}
{% include 'lists/listname.html.jinja' %}
{% elif info == entry %}
sublevel: {{ sublevel }} sublevel_limit: {{ sublevel_limit }}
{% elif info == order %}
<p class="bg-dark">order: {{ entry.order }}</p>
{% elif info == sublist %}
entry id: {{ entry.id }} list id: {{ entry.user_list_id }} sublevel: {{ sublevel }} sublevel_limit: {{ sublevel_limit }}
{% endif %}
</div>
{% endif %}