        <ul id="flash-messages-container" class="flash-container sortable"
                hx-get="/get-flash-messages"
                hx-trigger="load,end from:document"
                hx-swap="beforeend">
        </ul>