        <ul id="flash-messages-container" class="flash-container sortable"
                hx-get="/get-flash-messages"
                hx-trigger="load, click from:body"
                hx-swap="beforeend"> #TODO: Make container scrollable box
                    {% include 'base/parts/flash_messages.html.jinja' %}
        </ul>