{# <div style="height: 5em;"></div> #}
<div
    class="container d-flex text-center justify-content-between px-5 fixed-bottom"
>
    {% if current_user.is_authenticated %}
        {# <div><a href="/" class="btn btn-primary">Home</a></div> #}
        <div><a href="/map" class="btn btn-secondary">Map</a></div>
        {# <div><a href="/tasks" class="btn btn-secondary">Tasks</a></div> #}
        <div class="dropup-center dropup">
            <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Edit Home
            </button>
            <ul class="dropdown-menu">
                {# <li><a class="dropdown-item" href="/home/rename">Rename Home</a></li> #}
                <li>
                    <a class="dropdown-item" href="/home/floors/setup"
                        >Edit Floors</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item"
                        href="/home/rooms/setup/{{ current_user.active_home.active_floor_id }}"
                        >Add Rooms</a
                    >
                </li>
            </ul>
        </div>
        <div class="dropup-center dropup">
            <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                User
            </button>
            <ul class="dropdown-menu">
            <li class="dropdown-item">{% include 'base/parts/debug/debug_switch.html.jinja' %}</li>
                <li>
                    <a class="dropdown-item" href="{{ url_for('auth.logout') }}"
                        >Logout</a
                    >
                </li>
                <li>
                    <a class="dropdown-item" href="{{ url_for('auth.password') }}"
                        >Password Reset</a
                    >
                </li>
            </ul>
        </div>
    {% else %}
        <div>
            <a class="nav-link" href="{{ url_for('auth.register') }}"
                >Register</a
            >
        </div>
        <div>
            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
        </div>
    {% endif %}
</div>
