<button
    class="navbar bg-light navbar-toggler position-absolute top-0 end-0"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight"
>
    <span class="navbar-toggler-icon"></span>
</button>

<div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel"
>
    <div class="offcanvas-header">
        <a href="/" class="navbar-brand">
    <h5 class="offcanvas-title navbar-brand" id="offcanvasRightLabel">Untitled Cleaning Todo App</h5>
</a>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>
    <div class="offcanvas-body list-group">
    {% if current_user.is_authenticated %}
        <ul class="list-group">
            Edit Home
            {# <li><a class="nav-item" href="/home/rename">Rename Home</a></li> #}
            <li>
                <a
                    class="list-group-item list-group-item-action"
                    href="/home/floors/setup"
                    >Edit Floors</a
                >
            </li>
            <li>
                <a
                    class="list-group-item list-group-item-action"
                    href="/home/rooms/setup/{{ current_user.active_home.active_floor_id }}"
                    >Add Rooms</a
                >
            </li>
        </ul>

        <ul class="list-group">
            User
            <li>
                <a
                    class="list-group-item list-group-item-action"
                    href="{{ url_for('auth.logout') }}"
                        >Logout</a
                >
            </li>
            <li>
                <a
                    class="list-group-item list-group-item-action"
                    href="{{ url_for('auth.password') }}"
                        >Password Reset</a
                >
            </li>
            <li class="list-group-item list-group-item-action">{% include 'base/parts/debug/debug_switch.html.jinja' %}</li>
        </ul>
    {% else %}
        <ul class="list-group">
            User
            <li>
                <a
                    class="list-group-item list-group-item-action"
                    href="{{ url_for('auth.register') }}"
                        >Register</a
                >
            </li>
            <li>
                <a
                    class="list-group-item list-group-item-action"
                    href="{{ url_for('auth.login') }}"
                        >Login</a
                >
            </li>
        </ul>
    {% endif %}
    </div>
</div>

{# <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Todo App</a>
    <div class="d-flex">{% include 'profile/parts/avatar.html.jinja' %}</div>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if current_user.is_authenticated %}
{% include 'base/parts/debug/debug_switch.html.jinja' %}

                <div class="d-flex">
                    {% include 'profile/parts/avatar.html.jinja' %}
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account.profile') }}"
                        >Profile</a
                    >
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/floors/setup"
                        >Edit Floors</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/home/rooms/setup/{{ current_user.active_home.active_floor_id }}"
                        >Edit Rooms</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="/map/{{ current_user.active_home.active_floor_id }}"
                        >Map</a
                    >
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.tasklist') }}"
                        >Tasks</a
                    >
                </li>

                <li>
                    <a class="nav-link" href="{{ url_for('auth.logout') }}"
                        >Logout</a
                    >
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('auth.password') }}"
                        >Password Reset</a
                    >
                </li>
                <div>
                    <h4 class="text-primary">
                        Welcome, {{ current_user.username }}! Email:
                        {{ current_user.email }} User ID: {{ current_user.id }}
                    </h4>
                </div>
            {% else %}
                <li>
                    <a class="nav-link" href="{{ url_for('auth.register') }}"
                        >Register</a
                    >
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('auth.login') }}"
                        >Login</a
                    >
                </li>
            {% endif %}
            <li>
                <a class="nav-link" href="{{ url_for('main.sitemap') }}"
                    >Sitemap</a
                >
            </li>
        </ul>
    </div>
</nav> #}
