<nav
    class="fixed-bottom d-flex text-center justify-content-evenly flex-nowrap text-nowrap overflow-x-auto"
    id="nav-loader"
    hx-get="/nav"
    hx-trigger="load, htmx:afterSwap from:main, load from:body"
>
    overflow-x-auto
</nav>
<div style="height: 3em;"></div>{# spacer so nav buttons don't overlap page buttons #}
