{% extends "base/layout.html" %}
{% block title %}
    #todo Create New Home Form: rooms
{% endblock %}

{% block main %}
<h1>create Rooms</h1>
<ul class="nav nav-tabs">
    {% for navfloor in floor_list | sort(attribute='order') %}
        <li class="nav-item">
            <a
                class="nav-link {% if navfloor.item_id == current_user.active_home.active_floor_id %}active{% endif %}"
                href="/home/rooms/setup/{{ navfloor.item_id }}"
            >
                {{ navfloor.get_item().name }}</a
            >
        </li>
    {% endfor %}
</ul> 

<h1>
    now editing: {{ room_list.list_name }} floor {{ room_list.parent.get_item().name }} floor id:  {{ room_list.parent.get_item().id }} order:
    {{ room_list.parent.order }}
</h1>
<form 
    hx-post="/room/default"
    hx-target="#default-room-types-container"
    class="input-group mb-3"
>
    <input
        type="text"
        class="form-control"
        placeholder="New Room Type"
        aria-label="New Room Type"
        aria-describedby="basic-addon2"
        name="custom_type"
        id="custom_type"
        hx-trigger="keyup[key=='Enter']"
    />
    <button class="btn btn-secondary" type="submit" id="button-addon2">
        Add Custom Room Type
    </button>
</form>


        <div class="row g-0 row-cols-4 container-fluid bg-dark border border-success border-5 rounded-bottom-5"
            id="default-room-types-container"
            hx-get="/show_list/{{ defaults_list.id }}"
            hx-trigger="load"
    
        >
        </div>

            <div class="row g-0 row-cols-4 container-fluid bg-dark border border-primary border-5 rounded-top-5"
                id="room-list-container"
                hx-get="/show_list/{{ room_list.id }}"
                hx-trigger="load once"
                
            >
            </div>


<script>
    document.addEventListener("htmx:load", function () {
    const types = document.getElementById("default-room-types-container");
    const sortmap = document.getElementById("room-list-container");

    function triggerUpdateOrder(evt) {
            console.log("onEnd event triggered");
            const newOrder = Array.from(sortmap.children).map(
                (li) => li.dataset.id,
            ); 
            console.log('newOrder: ' + newOrder);
            htmx.ajax("PUT", "/update_list_order/{{ room_list.id }}", {
                target: "#room-list-container",
                swap: "innerHTML",
                values: { order: newOrder },
            });
        }

    new Sortable(types, {
        group: {
            name: "shared",
            pull: "clone",
            put: false, // Do not allow items to be put into this list
        },
        animation: 150,
        sort: false,
        cursor: "move",
        onEnd: triggerUpdateOrder
    });

        
        console.log('sortmap: ' + sortmap);
        new Sortable(sortmap, { 
            group: {
                name: "shared",
                pull: true, // Prevent pulling from this list
            },
            animation: 150,
            ghostClass: "blue-background-class",
            filter: ".htmx-indicator",
            handle: ".handle",
            removeOnSpill: true, // Enable plugin
            // Called when item is spilled
            onSpill: function (/**Event*/ evt) {
                evt.item; // The spilled item
                console.log("spill");
                console.log("delete evt.item.dataset.id: " + evt.item.dataset.id);
                htmx.ajax("DELETE", "/delete/" + {{room_list.id}} + "/" + evt.item.dataset.id, {
                    target: "#room-list-container",
                    swap: "innerHTML",
                    });
                },
            onAdd: function (/**Event*/ evt) {
                console.log("onAdd event triggered");
                var itemEl = evt.item; // dragged HTMLElement
                var addedRoomType = itemEl.dataset.name;
                var newIndex = evt.newIndex;
                console.log('addedRoomType: ' + addedRoomType + 'new index: ' + newIndex);

                // Make an htmx AJAX request to the server
                htmx.ajax("POST", "/create/Room/{{ room_list.id }}", {
                    values: { name: addedRoomType, order: newIndex },
                    target: itemEl,
                    swap: "outerHTML", // returns the new content
                });
                
            },
            onEnd: triggerUpdateOrder
        });
    });
</script>
        <button                 hx-get="/home/floor/edit/next"
                hx-target="#onboarding-map">Save layout and go to next floor</button>
                [ ] link to start walkthrough


{% endblock %}
