{% extends "base/layout.html" %}
{% block title %}
    Create New Home Form: rooms
{% endblock %}

{% block main %}
    <div
        class=""
        id="floor-list-loader"
        hx-get="/show_list/"
        hx-vals='{"list_model": "Floor", "view_override":"horiz-scroll"}'
        hx-trigger="load once"
        hx-swap="outerHTML"
        hx-indicator="#updating-indicator"
    >
        <input id="dummy-placeholder" type="hidden" name="items" />
        <div id="updating-indicator" class="htmx-indicator">Updating...</div>
    </div>
    <h1>Create Rooms</h1>

    <div
        class="row g-0 row-cols-4 container-fluid bg-dark border border-primary border-5 rounded-top-4 p-1"
        id="default-room-types-container"
        hx-get="/show_list/{{ defaults_list.id }}"
        hx-trigger="load"
        hx-swap="outerHTML"
        hx-indicator="#updating-indicator"
    ></div>

    <div
        class="row g-0 row-cols-4 container-fluid bg-warning border border-success border-5 rounded-bottom-4 p-1"
        id="room-list-loader"
        hx-get="/show_list/{{ room_list.id }}"
        hx-trigger="load once"
        hx-swap="outerHTML"
        hx-indicator="#updating-indicator"
    >
        <input id="dummy-placeholder" type="hidden" name="items" />
        <div id="updating-indicator" class="htmx-indicator">Updating...</div>
    </div>
    <br />
    <div>
        <a class="btn btn-primary" href="/floorplan/prev" hx-boost="false">
            Edit Previous Floor</a
        >
        <a class="btn btn-primary" href="/floorplan/next" hx-boost="false">
            Edit Next Floor</a
        >

        {% if has_rooms %}
            <a
                class="btn btn-success"
                href="/map/Floor/{{ current_user.active_home.active_floor_id }}"
            >
                Map
            </a>
        {% endif %}
    </div>

    <!-- Button trigger modal -->
    <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#tutorialModal"
    >
        Show Instructions
    </button>


<div id="modal-loader"
hx-get="/tutorial/create_rooms"
hx-trigger="load once"
hx-swap="outerHTML">
</div>

{% endblock %}
