{% extends "base/layout.html" %}
{% block title %}
    Create New Home Form: floors
{% endblock %}

{% block main %}
    <h2>Floors</h2>

    <div id="floor-container">
        <button
            type="button"
            class="btn btn-primary d-flex justify-content-center align-items-center input-group"
            hx-post="/create/Floor"
            hx-target="[id*='list-updater-']"
            hx-vals='{"order_index": "0"}'
            hx-swap="afterbegin"
            hx-indicator="#updating-indicator"
            style="min-width: 20em; max-width: 40em; display: block;"
        >
            Add Upper Floor
        </button>

        <div
            class="row g-0 row-cols-4 container-fluid bg-dark border border-success border-5 rounded-bottom-4 p-1"
            id="floor-list-loader"
            hx-get="/show_list/"
            hx-vals='{"list_model": "Floor", "force_new_list": "true", "sublevel_limit": "0"}'
            hx-trigger="load once"
            hx-swap="outerHTML"
            hx-indicator="#updating-indicator"
        >
            <input id="dummy-placeholder" type="hidden" name="items" />
            <div id="updating-indicator" class="htmx-indicator">
                Updating...
            </div>
        </div>

        <button
            type="button"
            class="btn btn-primary d-flex justify-content-center align-items-center input-group"
            hx-post="/create/Floor"
            hx-target="[id*='list-updater-']"
            hx-vals='{"name": "Basement"}'
            hx-swap="beforeend"
            hx-indicator="#updating-indicator"
            style="min-width: 20em; max-width: 40em; display: block;"
        >
            Add Lower Floor
        </button>
    </div>

    <br />
    <div
        hx-get="/go_define_rooms_button"
        hx-trigger="load once delay:5s, click from:body once delay:1s"
    ></div>

    <!-- Button trigger modal -->
    <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#tutorialModal"
    >
        Show Instructions
    </button>

<div id="modal-loader"
hx-get="/tutorial/create_floors"
hx-trigger="load once"
hx-swap="outerHTML">
</div>
{% endblock %}
