{% extends "base/layout.html" %}
{% block title %}
    Create New Home Form
{% endblock %}

{% block main %}
    <h1>Create New Home</h1>

    <form action="/create/Home" method="post">
        <div class="form-floating mb-3" hx-target="this" hx-swap="outerHTML">
            <input
                hx-post="/validate/Home"
                hx-indicator="#updating-indicator"
                type="text"
                class="form-control"
                id="HomeName"
                placeholder="Home Name"
                name="name_input"
                required
            />
            <label for="HomeName">Home Name</label>
        </div>
        <div class="form-floating mb-3">
            <select
                class="form-select"
                id="HomeType"
                aria-label="Type of home"
                name="home_type"
                required
            >
                <option value="" selected disabled>Type of home</option>
                <option value="house">House</option>
                <option value="apartment">Apartment</option>
                <option value="condominium">Condominium</option>
                <option value="trailer">Trailer</option>
                <option value="van">Van</option>
                <option value="tent">Tent</option>
                <option value="cardboard box">Cardboard box</option>
                <option value="boat">Boat</option>
                <option value="other" disabled>
                    Other #[ ]: User input custom type
                </option>
            </select>
            <label for="HomeType">Type of home</label>
        </div>
        <div class="hstack gap-1">
            Single-Story
            <div class="form-switch form-check-inline mx-0">
                <input
                    class="form-check-input"
                    type="checkbox"
                    id="multifloor_check"
                    name="multifloor"
                />
                Multi-Story
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- Button trigger modal -->
    <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#tutorialModal"
    >
        Show Instructions
    </button>


<div id="modal-loader"
hx-get="/tutorial/create_home"
hx-trigger="load once"
hx-swap="outerHTML">
</div>

{% endblock %}
