<a
    class="btn btn-primary"
    id="go_define_rooms"
    type="submit"
    href="{{ url_for('rooms.define_rooms', floor_id=current_user.active_home.ground_floor_id) }}"
>
    Confirm Floors and go to create rooms
</a>
