.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* ghostClass */
.ghost {
    opacity: 0.5;
    background: #c8ebfb;
}

.ghost-red {
    opacity: 0.5;
    background: #ff0000;
}

.none-ghost {
    display: none !important;
    opacity: 0.5;
    background: #05f5f5;
    /* height: auto; */
}
/* Style the static ghost to look like the original item */
.static-ghost {
    /* display: none !important; */

    background: #ff00e6;
    opacity: 0.5; /* Make it semi-transparent */
    /* pointer-events: none; */ /* Disable interactions */
    /* height: auto; */
    /* position: relative; */ /* Ensure it stays in the flow */
}

.test-fallback {
    display: block !important;
    opacity: 0.5;
    background: #ff00e6;
}
/* .selected {
    opacity: .5;
    background: #99ff00;
} */

.selected .selectable {
    position: relative;
}
.selected .selectable::after {
    content: "Selected";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 255, 55, 0.25); */
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 0.5) !important;
    text-shadow: 0 0 .2 #000000;
    /* padding: 0 !important; */
    line-height: .5;
    display: inline-block;
    cursor: pointer;
    border: 2vw solid rgba(255, 0, 0, .5);
    /* box-shadow: inset 0 0 0 1vw yellow; */ /* Simulates an inside outline */
}
/* .selected:hover::after {
    content: "Edit";
    border: 4vw solid rgba(255, 255, 0, 0.25);
    background-color: rgba(0, 255, 55, 0.5);
} */
.selected.task {
    background-color: rgba(85, 0, 255, 0.5);
}
.selected.floor::after {
    content: "Ground Floor";
    background-color: rgba(255, 0, 255, 0.5);
}
.task.dropzone {
    display: inline-block;
    background: rgb(108, 99, 255);
    align-items: center;
    justify-content: end;
    min-width: 50px;
    min-height: 50px;
    border: 5px dashed;
    transition: all 0.3s;
}

.task.dropzone.hover {
    min-width: 100px;
    min-height: 100px;

    background-image: url("plus-square-dotted.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rooms:empty::after {
    content: "Drop Room Here";
    background-color: #ff9900 !important;
    border: 2px dashed #ccc !important;
    height: 100px !important; /* Example height */
    border: 5px solid red !important; /* Temporary border for testing */
}

.pingrid.hover {
    position: relative;
}
.pingrid.hover::after {
    z-index: 10; /* Higher than most elements */
    pointer-events: none; /* Prevent it from blocking interaction */
    content: "Drop Pin Here";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    color: rgba(255, 255, 255, 0.5) !important;
    text-shadow: 0 0 .2 #000000;

    line-height: .5;
    display: inline-block;
    cursor: pointer;
    border: 2vw solid rgba(255, 0, 0, .5);
} 