.editabletext {
    cursor: text;
}

/* scale titles */
.room .scalename {
    overflow: hidden;
    font-size: 5vw;
    font-weight: bold;
    
    
}
.scalename {
    overflow: visible;
    font-size: 4vw;
    line-height: 1;
    text-align: center;
    color: white !important;
    text-shadow: 0 0 3px #000;
}

/* Apply a different font size when the screen width is over a certain width */
@media (min-width: 1000px) {
    .scalename {
    font-size: 20px;
    }
}

/* .pin {
background-color: green;
} */
.scalename.rename {
    font-size: 4vw;
    background-color: transparent !important;
}
.room .rename {
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw; /* Initial wider width */
    max-width: 100%; /* Ensures it doesn't become wider than the grandparent */
}

.debug-info {
    color: red;
    font-size: .75em !important;
}