<button hx-post="{{ '/create_task' }}" 
hx-target="#task-body" hx-swap="beforeend" 
class="btn btn-primary" 
hx-on::after-request="htmx.trigger('#flash-messages', 'flashUpdate')">
Create New Blank Task</button>