<div hx-get="" hx-trigger="mouseout" hx-swap="outerHTML">
        <button
            hx-delete="/home/floor/delete/{{ floor.floor_id }}"
            hx-confirm="Are you sure you want to delete this floor?"
            hx-swap="outerHTML"
            class="btn btn-danger"
        >
            Delete Floor
        </button>
</div>