<h2>Floors</h2>

<div class="row">
    <div class="col-12">
        <button
            hx-post="/home/floor/new"
            hx-target="#floor-list"
            hx-swap="afterbegin"
            class="btn btn-primary"
        >
            Add Floor
        </button>
    </div>
</div>



<div hx-get="/home/floor/new" hx-target="#floor-list" hx-swap="afterbegin" hx-trigger="load"></div>
<div
    id="floor-list-container"
>

    {% include 'onboarding/parts/home/attributes/floors/list.html.jinja' %}
</div>

<script>
    document.addEventListener("htmx:load", function () {
        var sortlist = document.getElementById("floor-list");
        var sortableInstance = new Sortable(sortlist, {
            animation: 150,
            ghostClass: "blue-background-class",
            filter: ".htmx-indicator",
            handle: ".handle",
            onEnd: function () {
                var newOrder = Array.from(sortlist.children).map(
                    (li) => li.dataset.id,
                );
                htmx.ajax("POST", "/home/floor/sort", {
                    target: "#floor-list-container",
                    swap: "innerHTML",
                    values: { order: newOrder },
                });
            },
        });
    });
</script>
