<h2>Floors</h2>
<ul id="floor-list">
    {% for floor in floors | sort(attribute='floor_number') | reverse %}
        
            {% include 'onboarding/parts/home/attributes/floors/row.html.jinja' %}
  
    {% endfor %}
</ul>
<div class="row">
    <div class="col-12">
        <button
            hx-post="/home/floor/new"
            hx-target="#floor-list"
            hx-swap="afterbegin"
            class="btn btn-primary"
        >
            Add Floor
        </button>
    </div>
</div>

 #fixme: make drag sortable
