    <h2>Floors</h2>
    <ul>
        {% for floor in floors %}
            <li><div #fixme: swap to edit and back>{{ floor.floor_name }}</div> <div #fixme: make inline>({{ floor.floor_number }})</div></li>
        {% endfor %}
    </ul>
    
    #fixme: add button to add new floor
#fixme: make drag sortable
