    <input
        autocomplete="off"
        autofocus
        class="form-control"
        id="input_floor_num"
        name="input_floor_num"
        placeholder="New Floor Number"
        hx-put=""
        hx-trigger="keyup[key=='Enter'], blur, keyup changed delay:5s"

        hx-target="#home-floor"
        
        hx-indicator=".htmx-indicator"
        value="{{ new_floor_num }}"
        onfocus="this.setSelectionRange(this.value.length, this.value.length);"
    />
    <label for="home_name">Floor Number: {{ new_floor_num }}</label>
    <div class="htmx-indicator">Updating...</div>
#fixme