<p>
    How many floors/stories/levels is your house? Add and name the floors that
    apply to you.
</p>
<h1>
    this is onboarding/parts/home/attributes/floors/index.html.jinja
</h1>

    <div hx-get="/home/floors" hx-trigger="load" ></div>
