<span class="input-group-text"
    id="floor-{{ floor.floor_id }}"
    hx-get="/home/floor/rename/{{ floor.floor_id }}"
    hx-target="this"
    hx-swap="outerHTML"
    hx-trigger="click"
>
    {{ floor.floor_name }}
</span>
