<li class="input-group mb-3">
    <span class="input-group-text mb-3">↕️</span>

    {% include 'onboarding/parts/home/attributes/floors/name_text.html.jinja' %}
    <span class="input-group-text mb-3">({{ floor.floor_number }})</span>
</li>
