<div class="col border border-success" id="room-{{ room.room_id }}" data-id="{{ room.room_id }}">
    <div class="input-group">
        {% include 'onboarding/parts/home/map/room_name_text.html.jinja' %}
        <span class="input-group-text">({{ room.order }})</span>
        <button
            hx-delete="/home/room/delete/{{ room.room_id }}"
            hx-confirm="Are you sure you want to delete this room?"
            hx-swap="outerHTML"
            hx-target="#room-{{ room.room_id }}"
            class="btn btn-danger"
            type="button"
        >
            Delete Room
        </button>
    </div>
</div>
