{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <h1>Login</h1>
        <form class="mx-auto w-50" hx-post="/login" hx-on::after-request="htmx.trigger('#flash-messages', 'flashUpdate')" hx-swap="none">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control form-control-lg" id="username" name="username" required>
                <div class="invalid-feedback">
                    Please provide a username.
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control form-control-lg" id="password" name="password" required>
                <div class="invalid-feedback">
                    Please provide a password.
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register here</a></p>
</div>
#FIXME
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<h3 class="text-center">
				h3. Lorem ipsum dolor sit amet.
			</h3>
            <form action="/register" method="post" class="d-flex flex-column align-items-center">
                <div class="form-floating mb-3">
                    <input autocomplete="off" autofocus class="form-control" id="floatingUsername" name="username" placeholder="Username">
                    <label for="floatingUsername">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="floatingPassword" name="password" placeholder="Password" type="password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" id="floatingConfirmation" name="confirmation" placeholder="Confirm Password" type="password">
                    <label for="floatingConfirmation">Confirm Password</label>
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
			<button type="button" class="btn btn-success">
				Button
			</button>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>
{% endblock %}
