{% extends "base/layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div
                    class="d-flex align-items-center justify-content-center vh-100"
                >
                    <div>
                        <h3 class="text-center">Sign Up here!</h3>
                        <form
                            action="/register"
                            method="post"
                            class="d-flex flex-column align-items-center"
                        >
                            <div class="form-floating mb-3">
                                <input
                                    autocomplete="off"
                                    autofocus
                                    class="form-control"
                                    id="floatingUsername"
                                    name="username"
                                    placeholder="Username"
                                />
                                <label for="floatingUsername">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input
                                    class="form-control"
                                    id="floatingPassword"
                                    name="password"
                                    placeholder="Password"
                                    type="password"
                                />
                                <label for="floatingPassword">Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input
                                    class="form-control"
                                    id="floatingConfirmation"
                                    name="confirmation"
                                    placeholder="Confirm Password"
                                    type="password"
                                />
                                <label for="floatingConfirmation"
                                    >Confirm Password</label
                                >
                            </div>
                            <button class="btn btn-primary" type="submit">
                                Register
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}
