{% extends "layout.html" %} {% block title %}Onboarding{% endblock %}
{%
    block
    main
%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div
                    class="d-flex flex-column align-items-center justify-content-center vh-100"
                >
                    <div id="onboarding" hx-get="/onboarding" hx-trigger="load">
                        {% if current_user.profile_picture_url is none %}
                            {%
                                include
                                'setup/upload_profile_photo.html.jinja'
                            %}
                        {% else %}
                            {%
                                include
                                'setup/room_layout.html.jinja' %}
                                {# 'setup/floors.html.jinja' #}
                            {# {% include'setup/home_setup.html.jinja' %} #}
                        {% endif %}
                    </div>
                </div>
                    <div class="row">
                        <button
                            hx-get="/onboarding"
                            hx-target="#onboarding"
                            hx-swap="innerHTML"
                            class="btn btn-primary"
                            >
                            Next Step: Home Setup
                        </button>#TODO: ADD ONBOARDING PROGRESS INDICATOR
                        #FIXME: Create walkthrough template
                    </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}

