All Tasks for {{ current_user.active_home.name }}:
<div
    class="row g-0 row-cols-4 container-fluid  border border-success border-5 rounded-bottom-4 p-1"
    id="task-list-loader"
    hx-get="/show_list/"
    hx-vals='{"list_model": "Task", "root_parent": "{{ current_user.active_home }}", "sublevel_limit": 100}'
    hx-trigger="load once"
    hx-swap="outerHTML"
    hx-indicator="#updating-indicator"
>
    <input id="dummy-placeholder" type="hidden" name="items" />
</div>