{% extends "base/layout.html" %}
{% block title %}
    Tasks
{% endblock %}

{% block main %}
#: list all tasks
#todo: list all rooms
#todo: remove 'zones' concept
#todo: list all photos
#todo: heigharchial view of tasks
#todo: prioritize tasks
7. : edit the room zones, add the photos to the correct rooms and zones
<p>
    Select the important areas of the room that have tasks. These areas will be
    used to generate tasks for you.
</p>
<canvas id="annotate-canvas" width="600" height="400"></canvas>

<script>
    const canvas = document.getElementById("annotate-canvas");
    const ctx = canvas.getContext("2d");

    let isDrawing = false;
    let lastX, lastY;

    canvas.addEventListener("mousedown", (e) => {
        isDrawing = true;
        lastX = e.offsetX;
        lastY = e.offsetY;
    });

    canvas.addEventListener("mousemove", (e) => {
        if (isDrawing) {
            ctx.beginPath();
            ctx.moveTo(lastX, lastY);
            ctx.lineTo(e.offsetX, e.offsetY);
            ctx.stroke();
            lastX = e.offsetX;
            lastY = e.offsetY;
        }
    });

    canvas.addEventListener("mouseup", () => {
        isDrawing = false;
    });

    canvas.addEventListener("mouseout", () => {
        isDrawing = false;
    });
</script>

8. : attach tasks to zones with annotations
<p>
    Now that you have created zones, you can start adding tasks to each zone. To
    do this, click on a zone and then click on the "Add task" button. Enter the
    task title and description, and then click "Add task" to add it to the zone.
</p>

9. : cleanup the list of tasks, prioritize tasks
<p>
    To cleanup your task lists, prioritize tasks, and schedule tasks, follow
    these steps:
</p>
<ol>
    <li>
        Click on a task to edit it. You can change the title, description, due
        date, priority, and status.
    </li>
    <li>
        Click on the "Prioritize" button to prioritize tasks. You can drag and
        drop tasks to reorder them.
    </li>
    <li>
        Click on the "Schedule" button to schedule tasks. You can choose a due
        date and time, and set reminders.
    </li>
    <li>Click on the "Delete" button to delete a task.</li>
</ol>


{% endblock %}
