7. FIXME: edit the room zones, add the photos to the correct rooms and zones
<p>
    Select the important areas of the room that have tasks. These areas will be
    used to generate tasks for you.
</p>
<canvas id="annotate-canvas" width="600" height="400"></canvas>

<script>
    const canvas = document.getElementById("annotate-canvas");
    const ctx = canvas.getContext("2d");

    let isDrawing = false;
    let lastX, lastY;

    canvas.addEventListener("mousedown", (e) => {
        isDrawing = true;
        lastX = e.offsetX;
        lastY = e.offsetY;
    });

    canvas.addEventListener("mousemove", (e) => {
        if (isDrawing) {
            ctx.beginPath();
            ctx.moveTo(lastX, lastY);
            ctx.lineTo(e.offsetX, e.offsetY);
            ctx.stroke();
            lastX = e.offsetX;
            lastY = e.offsetY;
        }
    });

    canvas.addEventListener("mouseup", () => {
        isDrawing = false;
    });

    canvas.addEventListener("mouseout", () => {
        isDrawing = false;
    });
</script>
