
<div class="container">
    <div class="row">
        <div class="col">Task ID</div>
        <div class="col">Task Title</div>
        <div class="col">Task Description</div>
        <div class="col">Task Created At</div>
        <div class="col">Task Due Time</div>
        <div class="col">Task Priority</div>
        <div class="col">Task Status</div>
        <div class="col">Task Tags</div>
        <div class="col">Task Scheduled Time</div>
        <div class="col">Updated_at</div>
        <div class="col">Completed At</div>
        <div class="col">Edit</div>
        <div class="col">
            <div class="form-switch bg-danger">
                <input checked type="checkbox" id="toggle-buttons" onchange="toggleConfirm(this.checked)">
                <label for="toggle-buttons">Confirm Delete</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="task-body" hx-get="/get_tasks/?page=1" hx-trigger="load" class="col">
            <!-- Rows will be populated here -->
        </div>
    </div>
    <div class="htmx-indicator spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script>
    function toggleConfirm(checked) {
        const buttons = document.querySelectorAll('.delete-button');
        buttons.forEach(button => {
            if (checked) {
                button.setAttribute('hx-confirm', 'Are you sure you want to delete this task?');
            } else {
                button.removeAttribute('hx-confirm');
            }
        });
    }
</script>