{% extends "layout.html" %}

{% block title %}
    Onboarding
{% endblock %}

{% block main %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="d-flex align-items-center justify-content-center vh-100">
				<div>
					<h3 class="text-center">
						new user setup
						#FIXME: WRITE OUT ALL the questions the user needs to answer about themselves and their house
					</h3>
					questions go here
					
		            
		            
			  
			    
				</div>
			</div>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>
{% endblock %}
