{% extends "base/layout.html" %}
{% block title %}
    House Map
{% endblock %}

{% block main %}
<h1>This is walkthrough/index.html.jinja</h1>
<h1>onboarding Walkthrough</h1>
<h2>active floor name: {{ current_user.active_home.active_floor.name }} id: {{ current_user.active_home.active_floor.id }}</h2>
<h2>active room name: {{ active_room.name }} id: {{ active_room.id }}</h2>
<div id="walkthrough-steps" hx-get="/walkthrough/steps" hx-indicator="#updating-indicator" hx-trigger="load">
    
</div>
<div id="updating-indicator" class="htmx-indicator spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>


{#
<button
    hx-post="/walkthrough/{{ current_user.active_home.active_room.room_id }}"
    class="btn btn-primary"
>
    Room details Next step
</button>
<button hx-post="/walkthrough/next" class="btn btn-primary" target="#walkthrough-steps">
    Walkthrough Next room
</button>
#}
{% endblock %}
