{% extends "base/layout.html" %}
{% block title %}
    House Map
{% endblock %}

{% block main %}
<div
    class=""
    id="floor-list-loader"
    hx-get="/show_list/"
    hx-vals='{"list_model": "Floor", "view_override":"horiz-scroll"}'
    hx-trigger="load once"
    hx-swap="outerHTML"
    hx-indicator="#updating-indicator"
>
    <input id="dummy-placeholder" type="hidden" name="items" />
    <div id="updating-indicator" class="htmx-indicator">
        Updating...
    </div>
</div>
<div
    class=""
    id="room-list-loader"
    hx-get="/show_list/"
    hx-vals='{"list_model": "Room", "view_override":"horiz-scroll"}'
    hx-trigger="load once"
    hx-swap="outerHTML"
    hx-indicator="#updating-indicator"
>
    <input id="dummy-placeholder" type="hidden" name="items" />
    <div id="updating-indicator" class="htmx-indicator">
        Updating...
    </div>
</div>
    <h1>This is walkthrough/index.html.jinja</h1>
    <h1>onboarding Walkthrough</h1>
    <h2>
        active floor name: {{ current_user.active_home.active_floor.name }} id:
        {{ current_user.active_home.active_floor.id }}
    </h2>
    <h2>
        active room name: {{ current_user.active_home.active_room.name }} id:
        {{ current_user.active_home.active_room.id }}
    </h2>
    <div
        id="walkthrough-steps"
        hx-get="/walkthrough/steps"
        hx-indicator="#updating-indicator"
        hx-trigger="load"
    ></div>
    <div
        id="updating-indicator"
        class="htmx-indicator spinner-border"
        role="status"
    >
        <span class="visually-hidden">Loading...</span>
    </div>
    <p>
        <button
            hx-put="/walkthrough/steps"
            hx-target="#walkthrough-steps"
            hx-vals='{"view": "rename"}'
            class="btn btn-primary"
        >
            rename
        </button>
        <button
            hx-put="/walkthrough/steps"
            hx-target="#walkthrough-steps"
            hx-vals='{"view": "photo"}'
            class="btn btn-primary"
        >
            photo
        </button>
        <button
            hx-put="/walkthrough/steps"
            hx-target="#walkthrough-steps"
            hx-vals='{"view": "quicknote"}'
            class="btn btn-primary"
        >
            quicknote
        </button>
        <button
            hx-put="/walkthrough/steps"
            hx-target="#walkthrough-steps"
            hx-vals='{"view": "sortphotos"}'
            class="btn btn-primary"
        >
            sortphotos
        </button>
        {# <button
            hx-put="/walkthrough/steps"
            hx-target="#walkthrough-steps"
            hx-vals='{"view": "testgrid"}'
            class="btn btn-primary"
        >
            testgrid
        </button> #}
                <button
            hx-put="/walkthrough/steps"
            hx-target="#walkthrough-steps"
            hx-vals='{"view": "pingridtest"}'
            class="btn btn-primary"
        >
            pingrid test
        </button>
        {#
    <button
        hx-post="/walkthrough/steps"
        hx-target="#walkthrough-steps"
        class="btn btn-primary"
    >
        Room Next step
    </button>#}
    </p>
    
BUG: REWRITE INTRO TEXT FOR ONBOARDING FLOW
todo: confirm walkthrough done for room button
    <p>
        <a
            href="/walkthrough/prevroom"
            hx-boost="false"
            class="btn btn-primary"
        >
            Walkthrough Previous room
        </a>
        <a
            href="/walkthrough/nextroom"
            hx-boost="false"
            class="btn btn-primary"
        >
            Walkthrough Next room
        </a>
    </p>
    #todo: next floor button
{% endblock %}
