{% extends "base/layout.html" %}
{% block title %}
    House Map
{% endblock %}

{% block main %}
    <h1>This is walkthrough/index.html.jinja</h1>
    <h1>onboarding Walkthrough</h1>
    <h2>
        active floor name: {{ current_user.active_home.active_floor.name }} id:
        {{ current_user.active_home.active_floor.id }}
    </h2>
    <h2>active room name: {{ active_room.name }} id: {{ active_room.id }}</h2>
    <div
        id="walkthrough-steps"
        hx-get="/walkthrough/steps"
        hx-indicator="#updating-indicator"
        hx-trigger="load"
    ></div>
    <div
        id="updating-indicator"
        class="htmx-indicator spinner-border"
        role="status"
    >
        <span class="visually-hidden">Loading...</span>
    </div>

    <button
        hx-put="/walkthrough/steps"
        hx-target="#walkthrough-steps"
        hx-vals='{"walk_step": "rename"}'
        class="btn btn-primary"
    >
        rename
    </button>
    <button
        hx-put="/walkthrough/steps"
        hx-target="#walkthrough-steps"
        hx-vals='{"walk_step": "photo"}'
        class="btn btn-primary"
    >
        photo
    </button>
    <button
        hx-put="/walkthrough/steps"
        hx-target="#walkthrough-steps"
        hx-vals='{"walk_step": "quicknote"}'
        class="btn btn-primary"
    >
        quicknote
    </button>

    {#
<button
    hx-post="/walkthrough/steps"
    hx-target="#walkthrough-steps"
    class="btn btn-primary"
>
    Room Next step
</button>#}
    <a
        href="/walkthrough/next"
        class="btn btn-primary"
        target="#walkthrough-steps"
    >
        Walkthrough Next room
    </a>

    <p>
        --------------------------------------------------------------------------
    </p>

    room list:
    {% for list in current_user.lists %}
            {% if list.parent_entry_item_id == current_user.active_home.active_floor_id %}#fixme
        {% for entry in list.entries %}
        
                <p>
                    model: {{ entry.item_model }} id: {{ entry.item_id }} name:
                    {{ entry.get_item().name }} order: {{ entry.order }}
                </p>
        {% endfor %}
            {% endif %}
    {% endfor %}
{% endblock %}
