<li
    class="list-group-item pe-0 shadow grabbable {% if current_user.active_home.active_room_id == entry.item_id %}selected{% endif %}"
    id="{{ entry.item_model }}list-{{ entry.id }}"
    data-id="{{ entry.id }}"
    data-item_id="{{ entry.item_id }}"
    data-name="{{ entry.get_item().name }}"
    data-order="{{ entry.order }}"
    data-list_id="{{ entry.user_list_id }}"
    data-model="{{ entry.item_model }}"
    data-bs-toggle="tooltip"
    data-bs-html="true"
    data-bs-placement="left"
    data-bs-title="<u>Drag</u> to <span class='text-nowrap'><b>reorder</b> {{ entry.item_model }}</span>"
>
    {% set ns = namespace(has_children=False) %}
    {% if child_lists %}
        {% for parent_list, child_lists in child_lists.items() %}
            {% for child_list in child_lists %}
                {% if child_list.parent_entry_id == entry.id %}
                    {% if child_list.entries|length <= 0 %}
                        {% set ns.has_children = False %}
                    {% else %}
                        {% if sublevel < sublevel_limit %}
                            {% set ns.has_children = True %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    {# {% if ns.has_children %}
has_children 1: {{ ns.has_children }}
                style="display: block;"
            {% else %}
            has_children 2: {{ ns.has_children }}
                style="display: none;"
            {% endif %} #}

    
        
            
                
            <div class="d-flex">
                        <button
                        id="accordion-button-{{ entry.item_model }}list-{{ entry.id }}"
                            class="accordion-button p-0 w-auto
                            {% if ns.has_children %}{% else %}d-none{% endif %}"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#sublist-collapse-{{ entry.item_model }}list-{{ entry.id }}"
                            aria-expanded="false"
                        >
                            {% include 'base/parts/debug/listname.html.jinja' %}
                        </button>
                    
            
                    <div class="flex-grow-1">
                        <input type="hidden" name="items" value="{{ entry.id }}" />
                        {{ entry.get_item().name }}
                        {% include 'base/parts/debug/order.html.jinja' %}
                    </div>
                <div
                        class="sortable dropzone d-none"
                        id="dropzone-{{ entry.item_model }}list-{{ entry.id }}"
                        data-id="{{ entry.id }}"
                        data-name="{{ entry.get_item().name }}"
                        data-order="{{ entry.order }}"
                        data-model="{{ entry.item_model }}"
                        data-accordion_button="#accordion-button-{{ entry.item_model }}list-{{ entry.id }}"
                        data-sublists_div="sublists-{{ entry.item_model }}list-{{ entry.id }}"
                    >
                    
                    </div>
            <div>testy</div>
    </div>
        
        
        {% include 'lists/sublist_loader.html.jinja' %}
</li>
