<div title="{{ entry.get_item().name }}" 
    class="col list-group-item grabbable"
    id="{{ entry.item_model }}list-{{ entry.id }}"
    data-id="{{ entry.id }}"
    data-item_id="{{ entry.item_id }}"
    data-name="{{ entry.get_item().name }}"
    data-order="{{ entry.order }}"
    data-list_id="{{ entry.user_list_id }}"
    data-model="{{ entry.item_model }}"
    data-bs-toggle="tooltip"
    data-bs-html="true"
    data-bs-placement="left"
    data-bs-title="<u>Drag</u> to <span class='text-nowrap'><b>reorder</b> {{ entry.item_model }}</span>"
>
<input type="hidden" name="items" value="{{ entry.id }}" />

    {% set ns = namespace(has_children=False) %}
    {% if child_lists %}
        {% for parent_list, child_lists in child_lists.items() %}
            {% for child_list in child_lists %}
                {% if child_list.parent_entry_id == entry.id %}
                    {% if child_list.entries|length <= 0 %}
                        {% set ns.has_children = False %}
                    {% else %}
                        {% if sublevel < sublevel_limit %}
                            {% set ns.has_children = True %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="position-relative">
            <!-- Image -->
            <img src="{{ entry.get_item().photo_url }}" class="img-fluid">
            test
            <!-- Overlay Grid -->
                <div
                    class="row g-0 row-cols-4 container-fluid bg-dark border border-success border-5 rounded-bottom-4 p-1"
                    id="pingrid-list-loader"
                    hx-get="/show_list/{{ entry.get_item().pins_list_id }}"
                    {# hx-vals='{"list_type": "Pin" "sublevel_limit": 0, "force_new_list": "true"}' #}
                    hx-trigger="load once"
                    hx-swap="outerHTML"
                    hx-indicator="#updating-indicator"
                >
                    <input id="dummy-placeholder" type="hidden" name="items" />
                </div>
        </div>
    </div>
</div>