<div title="{{ entry.get_item().name }}" 
    class="col  {% if current_user.active_home.active_room.current_cover_photo_id == entry.item_id and entry.item_model == 'Photo' and view == 'selectcoverphoto' %}selected{% endif %}"
    id="{{ entry.item_model }}list-{{ entry.id }}"
    data-id="{{ entry.id }}"
    data-item_id="{{ entry.item_id }}"
    data-name="{{ entry.get_item().name }}"
    data-order="{{ entry.order }}"
    data-list_id="{{ entry.user_list_id }}"
    data-model="{{ entry.item_model }}"
    data-bs-toggle="tooltip"
    data-bs-html="true"
    data-bs-placement="left"
    data-bs-title="<u>Drag</u> to <span class='text-nowrap'><b>reorder</b> {{ entry.item_model }}</span>"
>
<input type="hidden" name="items" value="{{ entry.id }}" />
        <div class="position-relative" style="max-height: fit-content; max-width: fit-content;">

            <!-- Image -->
            <img src="{{ entry.get_item().photo_url }}" style="max-height: 50vh;">
            <!-- Overlay Grid -->
                <div
                    class=""
                    id="pingrid-list-loader"
                    hx-get="/show_list/{{ entry.get_item().pins_list_id }}"
                    {% if view == 'pingrid' %}hx-vals='{"view_override":"pingrid"}'{% endif %}
                    hx-trigger="load once"
                    hx-swap="outerHTML"
                    hx-indicator="#updating-indicator"
                >
                    <input id="dummy-placeholder" type="hidden" name="items" />
                </div>

        </div>
</div>