<div 
    class="col glyphicon-move"
    id="{{ entry.item_model }}list-{{ entry.id }}"
    data-id="{{ entry.id }}"
    data-name="{{ entry.get_item().name }}"
>
    <div class="input-group flex-nowrap mb-0"
    >
        <span class="input-group-text"
            data-bs-toggle="tooltip"
            data-bs-html="true"
            data-bs-title="<u>Drag</u> to <b>create</b> {{ entry.get_item().name }}"
        >{{ entry.get_item().name }}
    
        </span>
    
    
        <span class="input-group-text">({{ entry.order }})</span>
    
    </div>
    
</div>