<li
    class="list-group-item pe-0 shadow grabbable {% if current_user.active_home.active_room_id == entry.item_id and entry.item_model == 'Room' %}selected{% endif %}"
    id="{{ entry.item_model }}list-{{ entry.id }}"
    data-id="{{ entry.id }}"
    data-item_id="{{ entry.item_id }}"
    data-name="{{ entry.get_item().name }}"
    data-order="{{ entry.order }}"
    data-list_id="{{ entry.user_list_id }}"
    data-model="{{ entry.item_model }}"
    data-bs-toggle="tooltip"
    data-bs-html="true"
    data-bs-placement="left"
    data-bs-title="<u>Drag</u> to <span class='text-nowrap'><b>reorder</b> {{ entry.item_model }}</span>"
>
    {% set ns = namespace(has_children=False) %}
    {% if child_lists %}
        {% for parent_list, child_lists in child_lists.items() %}
            {% for child_list in child_lists %}
                {% if child_list.parent_entry_id == entry.id %}
                    {% if child_list.entries|length <= 0 %}
                        {% set ns.has_children = False %}
                    {% else %}
                        {% if sublevel < sublevel_limit %}
                            {% set ns.has_children = True %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    {# {% if ns.has_children %}
has_children 1: {{ ns.has_children }}
                style="display: block;"
            {% else %}
            has_children 2: {{ ns.has_children }}
                style="display: none;"
            {% endif %} #}
{#
    <div class="hstack gap-3">
        <div>
            <button
                id="accordion-button-{{ entry.item_model }}list-{{ entry.id }}"
                class="accordion-button p-0 w-auto
                                {% if ns.has_children %}{% else %}d-none{% endif %}"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#sublist-collapse-{{ entry.item_model }}list-{{ entry.id }}"
                aria-expanded="false"
            >
                {% include 'base/parts/debug/listname.html.jinja' %}
            </button>
        </div>
        <div>
            <div class="form-check">
                <input
                    class="form-check-input"
                    hx-put="/update/{{ entry.id }}"
                    hx-trigger="change"
                    name="isChecked"
                    type="checkbox"
                    hx-vals='{"isChecked": this.checked}'
                    id="checkbox-{{ entry.item_model }}list-{{ entry.id }}"
                    {% if entry.get_item().status.value == "completed" %}checked{% endif %}
                />
                <label class="form-check-label" for="flexCheckDefault">
                    <input type="hidden" name="items" value="{{ entry.id }}" />
                    {{ entry.get_item().name }}
                    {{ entry.get_item().status }}
                    {% include 'base/parts/debug/order.html.jinja' %}
                </label>
            </div>
        </div>
        <div class="vr"></div>
        <div>task_description</div>
        <div class="ms-auto vr"></div>
        <div class="">task_due_date</div>

        <div
            class="ms-auto sortable dropzone d-none"
            id="dropzone-{{ entry.item_model }}list-{{ entry.id }}"
            data-id="{{ entry.id }}"
            data-name="{{ entry.get_item().name }}"
            data-order="{{ entry.order }}"
            data-model="{{ entry.item_model }}"
            data-accordion_button="#accordion-button-{{ entry.item_model }}list-{{ entry.id }}"
            data-sublists_div="sublists-{{ entry.item_model }}list-{{ entry.id }}"
        ></div>
    </div>

    {% include 'lists/sublist_loader.html.jinja' %}

#}
    <div id="div-{{i}}" data-item_id="item_id-{{i}}" data-model="tasktest" class="col-1  {#border bg-dark border-primary#} testytask">{# TODO: ADD TOOLTIPS#}

<div class="position-relative">
  <div class=" position-absolute w-100 h-100">

<div class=" d-flex justify-content-center align-items-center">
      <div class="shadow position-relative py-2 px-4 text-bg-secondary border border-secondary rounded-pill">
        Marker{{ i }}  <svg width="1em" height="1em" viewBox="0 0 16 16" class="position-absolute top-100 start-50 translate-middle mt-1" fill="var(--bs-secondary)" xmlns="http://www.w3.org/2000/svg"><path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>
      </div>
</div>
    
  </div>
</div>

</div>


</li>
