<h1>This is onboarding/home/walkthrough/index.html.jinja</h1>
<h1>onboarding Walkthrough</h1>

<div id="walkthrough" hx-get="/walkthrough" hx-trigger="load">
    <div class="htmx-indicator spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    >
</div>

#FIXME: room info entry form 1. FIXME: go to a room 2. FIXME: enter basic room
info. name, confirm room type
application/templates/onboarding/parts/home/walkthrough/parts/1confirm_room.html.jinja

3. FIXME: take and upload room panorama picture, stand in center of room, take 1
wide angle from corner or 2 from middle of room
application/templates/onboarding/parts/home/walkthrough/parts/2photo.html.jinja

4. FIXME: quick add task drafts, no details, just task title
application/templates/onboarding/parts/home/walkthrough/parts/3quicknote.html.jinja

5. FIXME: take and upload task photos


6. FIXME: move to next room
application/templates/onboarding/parts/home/walkthrough/parts/4next.html.jinja


<button
    hx-post="/walkthrough/{{ current_user.active_home.active_room.room_id }}"
    class="btn btn-primary"
>
    Room details Next step
</button>
<button hx-post="/walkthrough/next" class="btn btn-primary">
    Walkthrough Next room
</button>
