            {% if current_user.profile_picture_url %}
            <img src="{{ current_user.profile_picture_url }}" id="profile-icon" alt="Profile Picture" class="img-fluid rounded-circle" height="40" width="40">
            {% else %}
            <img src="{{ url_for('photo.get_default_avatar') }}" id="profile-icon" alt="Profile Picture" class="img-fluid rounded-circle" height="40" width="40">
            {% endif %}
