            {% if current_user.profile_picture_url %}
            <img src="{{ current_user.profile_picture_url }}" id="profile-icon" alt="Profile Picture" class="img-fluid rounded-circle" height="40" width="40">
            {% else %}
            <img src="static/person-circle.svg" id="profile-icon" alt="Profile Picture" class="img-fluid rounded-circle" height="40" width="40">
            {% endif %}